<%= form_with(model: tournament_log, local: true) do |form| %>
  <% if tournament_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament_log.errors.count, "error") %> prohibited this tournament_log from being saved:</h2>

      <ul>
      <% tournament_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :player_id %>
    <!-- < % = form.text_field :player_id, id: :tournament_log_player_id %> -->
    <%= form.collection_select :player_id, Player.order(:name), :id, :name %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points, id: :tournament_log_points %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
