<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= link_to @tournament_log.player.name, @tournament_log.player %>
</p>

<p>
  <strong>Points:</strong>
  <%= @tournament_log.points %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tournament_log.date %>
</p>

<%= link_to 'Edit', edit_tournament_log_path(@tournament_log) %> |
<%= link_to 'Back', tournament_logs_path %>
