<!DOCTYPE html>
<html>
  <head>
    <title>RivalStarsTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <%= render "/layouts/nav" %>
      <div class="alerts">
        <% if notice %>
          <div class="alert alert-success alert-dismissable" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= alert %>
          </div>
        <% end %>
      </div>
      <div class="content-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
